.navbar-brand {
    margin-left: 2rem !important;
}

.notif_content {
    display: none;
    height: 200px;
    width: 25%;
    position: absolute;
    right: 0;
    z-index: 1;
    overflow: auto;
    background-color: white;
}

.bi-bell {
    color: var(--bs-nav-link-color);
    padding-right: 2px;
}

.bi-bell:hover {
    color: var(--bs-navbar-hover-color);
}

.bi-bell-fill {
    color: var(--bs-navbar-hover-color);
    padding-right: 2px;
}

#notif_count {
    color: var(--bs-navbar-hover-color);
    margin-bottom: 0px;
}

.bell_box {
    justify-content:space-between; 
    display:flex;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.show {
    display:block;
}

