.navbar-brand {
    margin-left: 2rem !important;
}

.notif_content {
    display: none;
    height: 200px;
    width: 25%;
    position: absolute;
    right: 0;
    z-index: 1;
    overflow: auto;
    background-color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.show {
    display:block;
}

