#graph-container {
    background-color: rgb(115, 113, 119);
    width: 87vw;
    height: 83vh;
    /* border: 1px solid #ccc; */
    border: none;
    overflow: hidden;
    padding:0%;
    margin:0%;
    margin-top:1.5%
}
svg {
    width: 100%;
    height: 100%;
}
.node {
    cursor: pointer;
    stroke: #fff;
    stroke-width: 2px;
}
.link {
    stroke: #ccc;
    stroke-width: 2px;
    stroke-opacity: 0.8;
    visibility: hidden; /* Hide edges by default */
}
.highlighted {
    stroke: #ff5722; /* Highlight color */
    stroke-width: 3px;
    visibility: visible; /* Make edges visible when highlighted */
}
#tooltip {
    position: absolute;
    text-align: center;
    padding: 4px;
    font-size: 12px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    pointer-events: none;
    opacity: 0;
}

#Download {
    background-color: #603494; 
    color: #ffffff; 
    padding: 5px 22px;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    cursor: pointer;

  }
  
  #Download:hover {
    background-color: #ac7ee9; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
  }
  
  