#graph-container {
    /* background-color: rgb(115, 113, 119); */
    width: 96vw;
    height: 85vh;
    border: none;
    overflow: hidden;
    padding:0%;
    margin:0%;
    margin-top:1.5%
}

.select2-container {
    width: 100% !important;
}

#Search {
    /* background-color: #593196; 
    color: white;  */
    padding: 8px 16px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 14px; 
    /* margin-left: 10px; 
    white-space: nowrap; /* Prevent the button text from wrapping */
} 

#resetGraph, #resetZoom {
    display: block;
    margin: auto;
    margin-bottom: 1rem;
}

@media (min-width: 992px) {
    #graph-container {
        width: 73vw;
    }

    .card {
        height: 100vh;
    }
}

/* @media (max-width: 576px) {
    .col-auto > .select2-container {
        width: 150% !important;
    }

    #Search {
        margin-left: 110%;
    }
} */

.highlighted {
    stroke: #ff5722; /* Highlight color */
    stroke-width: 3px;
    visibility: visible; /* Make edges visible when highlighted */
}

#tooltip {
    position: absolute;
    text-align: center;
    padding: 4px;
    font-size: 12px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    pointer-events: none;
    opacity: 0;
}


.custom-menu {
    list-style: none;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 150px;
}

.custom-menu li {
    padding: 5px 10px;
    cursor: pointer;
}

.custom-menu li:hover {
    background-color: #f1f1f1;
}

.card {
    border: 1px solid #603494; /* Customize border color */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.card-body {
    background-color: #f8f9fa; /* Light grey background */
}

h2 {
    color: #603494; /* Title color */
}

.btn-primary {
    background-color: #603494; 
    border: none; 
    transition: background-color 0.3s ease; 
}

.btn-primary:hover {
    background-color: #4e2a6d; 
}

.form-control {
    border-radius: 5px; 
    border: 1px solid #ced4da; 
}

#Multi_Tree{
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 32px;
    color: #593196;
    margin-top: 40px; /* Adjust this value to move the title lower */
}
