<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Pulse Bootswatch Styling -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/pulse/bootstrap.min.css">
        <!-- Bootstrap Icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <!-- Base CSS File -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
        
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> 
        <!-- JavaScript Positioning Engine -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <!-- Bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Cryptography JavaScript Library-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.2.0/crypto-js.min.js"></script>

        {% block headBlock %}{% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <a class="navbar-brand w-auto" href="{{ url_for('main_bp.home_page')}}">Dehdashti Family Graph</a>
            <button class="navbar-toggler justify-content-end w-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end w-auto" id="navbarResponsive">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a id="home-nav-link" class="nav-link" href="{{ url_for('main_bp.home_page') }}">Home</a>
                    </li>
                    <li>
                        <a id="home-nav-link" class="nav-link" href="{{ url_for('main_bp.login_page') }}">Login</a>
                    </li>
                    {% if is_admin %}
                    <li>
                        <a id="home-nav-link" class="nav-link" href="{{ url_for('main_bp.create_tree') }}">Create Tree</a>
                    </li>
                    <li>
                        <a id="home-nav-link" class="nav-link" href="{{ url_for('main_bp.log') }}">Log</a>
                    </li>
                    {% endif %}
                    {% if is_verified %}
                    <li>
                        <a id="dashboard-nav-link" class="nav-link" href="{{ url_for('main_bp.my_dashboard') }}">My Dashboard</a>
                    </li>
                    <div class="dropdown">
                        <a id="home-nav-link" class="nav-link bell_box" onclick="clickNotifications()">
                            {% if notifications|length > 99 %} <!-- if user has notifcations, make icon white and add num -->
                                <i id="notif_bell" class="bi bi-bell-fill"></i> 
                                <p id="notif_count">99+</p>
                            {% elif notifications|length > 0 %}
                                <i id="notif_bell" class="bi bi-bell-fill"></i>
                                <p id="notif_count">{{ notifications|length }}</p>
                            {% else %}
                                <i id="notif_bell" class="bi bi-bell"></i>
                            {% endif %}
                        </a>
                    </div>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div id="notifications" class="notif_content">
            {% for notif in notifications %}
                {% with %}
                    {% set notif=notif %}
                    {% include "notification.html" %}
                {% endwith %}
            {% endfor %}
        </div>

        <script> //script for notifications drop down
            function clickNotifications() { //toggle dropdown when clicked
                document.getElementById("notifications").classList.toggle("show");
                const bell = document.getElementsByClassName("bi-bell");
                if (bell.length != 0) {
                    if (bell[0].style.color == "var(--bs-navbar-hover-color)") { //toggle color of bell
                        bell[0].style.color = "var(--bs-nav-link-color)";
                    } else {
                        bell[0].style.color = "var(--bs-navbar-hover-color)" ;
                    }
                }
            }

            window.onclick = function(event) { //close dropdown when click anywhere else
                if (!event.target.matches("#notif_bell") 
                    && !event.target.matches("#notifications") 
                    && !event.target.matches(".seen_button")
                    && !event.target.matches(".go_to_button")) {
                    document.getElementById("notifications").classList.remove("show");
                    const bell = document.getElementsByClassName("bi-bell");
                    if (bell.length != 0) {
                        bell[0].style.color = "var(--bs-nav-link-color)"; //change color of bell
                    }
                }
            }
        </script>

        {% block bodyBlock %}{% endblock %}
    </body>
</html>