{% extends "base.html" %}

{% block headBlock %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/biography.css') }}">
<title>Biography Page</title>
{% endblock %}

{% block bodyBlock %}
<div class="biography-container">
    <div class="card">
        <div class="biography-header">
            <h1>Biography for {{full_name if full_name else "None"}} </h1>
        </div>
        <div class="biography-details">
            <p><strong>Full Name:</strong> {{full_name if full_name else "None"}}</p>
            <p><strong>Date of Birth:</strong> {{dob if dob else "None"}}</p>
            <p><strong>Biography:</strong> {{bio if bio else "None"}}</p>
            <p><strong>Location:</strong> {{location if location else "None"}}</p>
            <p><strong>Email:</strong> {{email if email else "None"}}</p>
            <p><strong>Phone Number:</strong> {{phone_number if phone_number else "None"}}</p>
            <p><strong>Address:</strong> {{address if address else "None"}}</p>
            {% if admin %}
                <button class="btn btn-primary btn-lg btn-custom rounded-pill" onclick="location.href='/biography/edit'">Edit Bio</button>
            {% endif %}
        </div>
    </div>
</div>

<div class="comments-section">
    <h2>Comments</h2>
    {% if comments %}
        <ul class="list-unstyled">
            {% for comment in comments %}
            <li class="media">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">{{ comment.user.username }}</h5>
                    {{ comment.text }}
                    <div class="text-muted">{{ comment.timestamp }}</div>
                </div>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No comments yet. Be the first to leave a comment</p>
    {% endif %}

    <div class="comment-form">
        <h3>Leave a Comment</h3>
        <form method="post" action="{{ url_for('main_bp.biography', name=full_name) }}">
            {{ comment_form.hidden_tag() }}
            <div class="form-group">
                <textarea class="form-control" name="comment" rows="4" placeholder="Write your comment here..." required></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-custom rounded-pill">Submit</button>
        </form>
    </div>
</div>
{% endblock %}


