{% extends "base.html" %}

{% block headBlock %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/edit_biography.css') }}">
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4eneOOeiHunYMHble0GvihiawcOy3xsc&libraries=places&callback=initAutocomplete" async defer></script>
<title>Edit Biography</title>
{% endblock %}

{% block bodyBlock %}
    <!-- <div class="edit-biography-container">
        <h2> </h2> -->

<div class="edit-biography-container my-5">
    <h2 class="text-center mb-4">Edit Biography</h2>
    <div class="card shadow-lg rounded-lg border-0">
        <div class="card-body p-5">
            <form method="POST">
                {{ edit_form.hidden_tag() }}

                <div class="form-group">
                    {{ edit_form.fullname.label }}
                    {{ edit_form.fullname(class="form-control") }}
                </div>

                <div class="form-group">
                    {{ edit_form.dob.label }}
                    {{ edit_form.dob(class="form-control") }}
                </div>

                <div class="form-group">
                    {{ edit_form.biography.label }}
                    <textarea class="form-control" name="biography" rows="3">{{ edit_form.biography.data }}</textarea>
                </div>

                <div class="form-group">
                    {{ edit_form.location.label }}
                    {{ edit_form.location(id="autocomplete", class="form-control") }}
                    
                </div>

                <div class="form-group">
                    {{ edit_form.email.label }}
                    {{ edit_form.email(class="form-control") }}
                </div>
                {% if is_admin %}
                

                <div class="form-group">
                    {{ edit_form.phonenumber.label }}
                    {{ edit_form.phonenumber(class="form-control") }}
                </div>

                <div class="form-group">
                    {{ edit_form.address.label }}
                    {{ edit_form.address(class="form-control") }}
                </div>
                {% endif %}

                <div class="form-group">
                    {{ edit_form.submit(class="btn-submit btn btn-primary btn-lg rounded-pill") }}
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    let autocomplete;

    function initAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete(
            document.getElementById('autocomplete'), { types: ['geocode'] }
        );

        autocomplete.addListener('place_changed', () => {
            const place = autocomplete.getPlace();

            if (!place.geometry || !place.geometry.location) {
                alert("No details available for the selected location.");
                return;
            }

            document.getElementById('autocomplete').value = place.formatted_address;
        });
    }
</script>


{% endblock %}
