{% block bodyBlock %}
    <div class="edit-biography-container">
        <h2>Edit Biography Information</h2>
        <form method="POST" action="{{ url_for('main_bp.edit_biography') }}">
            {{ edit_form.hidden_tag() }}
            <div class="form-group">
                {{ edit_form.name.label }}<br>
                {{ edit_form.name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ edit_form.dob.label }}<br>
                {{ edit_form.dob(class="form-control") }}
            </div>
            <div class="form-group">
                {{ edit_form.biography.label }}<br>
                {{ edit_form.biography(class="form-control") }}
            </div>
            <div class="form-group">
                {{ edit_form.location.label }}<br>
                {{ edit_form.location(class="form-control") }}
            </div>
            <div class="form-group">
                {{ edit_form.email.label }}<br>
                {{ edit_form.email(class="form-control") }}
            </div>
            <div class="form-group">
                {{ edit_form.phonenumber.label }}<br>
                {{ edit_form.phonenumber(class="form-control") }}
            </div>
            <div class="form-group">
                {{ edit_form.address.label }}<br>
                {{ edit_form.address(class="form-control") }}
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    </div>
{% endblock %}
