{% extends "base.html" %}

{% block headBlock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}"/>
    <title>Forgot Password</title>
{% endblock %}

{% block bodyBlock %}

{% if submitted == False %}
<div class="d-md-flex flex-md-row container">
    <div class="box-grey flex-grow-1" style="padding-left:25%; padding-right:25%; padding-top:5%; padding-bottom:5%;">    
        <h2 class="text-center">Forgot Password</h2>

        <form action="/forgot-form" method="post" class="container px-4">
            <div class="form-group" style="width: 100%">
                <br>
                <p> Enter the email associated with your account and we will send you a link to reset your password. </p>
                {{ forgotForm.email.label }}
                <br>
                {{ forgotForm.email(class="form-control", placeholder="Enter Email") }}
            </div>

            <div>
                <br>
                <p>{{ forgotForm.submit(class="btn btn-primary rounded-pill") }}</p>
            </div>
        </form>
    </div>
</div>
{% endif %}

{% if submitted %}
<div class="d-md-flex flex-md-row container">
    <div class="box-grey flex-grow-1" style="padding-left:25%; padding-right:25%; padding-top:5%; padding-bottom:5%;">
        <h2 class="text-center">Email Sent</h2>   
        <p>An email has been sent to the provided address, with a link to reset the password. This link will expire in 24 hours. Please also check your spam/junk folder.</p>
    </div>
</div>
{% endif %}

{% endblock %}