{% extends "base.html" %}

{% block headBlock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}"/>
    <title>Login Page</title>
{% endblock %}

{% block bodyBlock %}

<form action="/login-form" method="post" class="container px-4">
    <div class="form-group" style="width: 100%">
        {{ loginForm.email_or_username.label }}<br>
        {{ loginForm.email_or_username(class="form-control", placeholder="Enter Email or Username") }} <br>
    </div>
    <div class="form-group" style="width: 100%">
        {{ loginForm.password.label }}<br>
        {{ loginForm.password(class="form-control", placeholder="Enter Password") }} <br>
    </div>
    <p>{{ loginForm.remember_me() }} {{ form.remember_me.label }}</p>
    <p>{{ loginForm.submit(class="btn btn-primary") }}</p>
</form> 

<form action="/signup-form" method="post" class="container px-4">
    <div class="form-group" style="width: 100%">
        {{ signupForm.email.label }}<br>
        {{ signupForm.email(class="form-control", placeholder="Enter Email") }} <br>
    </div>
    <div class="form-group" style="width: 100%">
        {{ signupForm.username.label }}<br>
        {{ signupForm.username(class="form-control", placeholder="Enter Username") }} <br>
    </div>
    <div class="form-group" style="width: 100%">
        {{ signupForm.password.label }}<br>
        {{ signupForm.password(class="form-control", placeholder="Enter Password") }} <br>
    </div>
    <div class="form-group" style="width: 100%">
        {{ signupForm.confirmpassword.label }}<br>
        {{ signupForm.confirmpassword(class="form-control", placeholder="Confirm Password") }} <br>
    </div>
    <p>{{ signupForm.remember_me() }} {{ form.remember_me.label }}</p>
    <p>{{ signupForm.submit(class="btn btn-primary") }}</p>
</form> 

{% endblock %}