{% extends "base.html" %}

{% block headBlock %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
<title>My Dashboard</title>
{% endblock %}

{% block bodyBlock %}
<div class="container-fluid">
  
  <div class="intro-text text-center">
    <h2>Welcome to Your Dashboard</h2>
    <p>Here you can view and request access to family trees, manage your admin rights, and enable email notifications.</p>
  </div>


  <div class="row justify-content-center mt-4">
    <!-- Left Column: Accessible Family Trees -->
    <div class="col-md-4">
      <div class="box">
        <h3>Your Family Trees</h3>
        <ul class="list-group">      
          <!-- Accessible Trees for the User -->
          {% for tree in accessible_trees %}
          <li class="list-group-item">
            <a href="{{ url_for('main_bp.tree', tree_name=tree.name) }}" class="tree-link">{{ tree.name }} Family Tree</a>
          </li>
          {% else %}
          <p>You do not have access to any other family trees yet.<p>
          {% endfor %}
        </ul>
      </div>
    </div>

    
    <div class="col-md-8">
      {% if not is_admin %}
      <div class="box mb-4">
        <h3>Request Access to a Family Tree</h3>
        <form id="requestTreeAccessForm" action="/request_tree" method="post">
          <div class="form-group">
            <label for="tree_name">{{ treeForm.tree_name.label }}</label>
            <select id="tree_name" name="tree_name">
            {% for tree in no_access_trees %}
            <option value="{{tree.name}}">{{tree.name}}</option>
            {% endfor %}
            </select>
          </div>
          {{ treeForm.submit(class="btn btn-primary") }}
        </form>
        {% if tree_info != None %}
        <p style="color:blue">{{ tree_info }}</p>
        {% endif %}
      </div>

      <div class="box mb-4">
        <h3>Request Admin Access</h3>
        <form action="/request_admin" method="post">
          <input type="submit" class="btn btn-primary" value="Request Admin Access"></input>
        </form>
        {% if admin_info != None %}
        <p style="color:blue">{{ admin_info }}</p>
        {% endif %}
      </div>
      {% endif %}

      <div class="box mb-4">
        <h3>Email Notifications</h3>
        <form action="/often_form" method="post">
          <div class="form-group">
            {{ preferenceForm.preference.label }}
            <br>
            {{ preferenceForm.preference}}
            <br>
            {{ preferenceForm.submit(class="btn btn-primary") }}
          </div>
        </form>
        {% if email_info != None %}
        <p style="color:blue">{{ email_info }}</p>
        {% endif %}
      </div>

      <div class="box mb-4">
        <h3>Ignored Notifications</h3>
        <form action="/preference_form" method="post">
          <p>Check the box of any notification types you'd like to <b>not</b> receive, and submit.</p>

            <div style="display:inline-block;vertical-align:top;width:24%">
              <h4>Accounts</h4>
              {% if is_admin %}
              <div class="form-group" style="display: flex; justify-content: space-between; ">
                {{ ignoreForm.login.label(style="width:150%") }}
                {{ ignoreForm.login(style="height:20px;margin:0") }}
              </div>
              <div class="form-group" style="display: flex; justify-content: space-between; ">
                {{ ignoreForm.logout.label(style="width:150%") }}
                {{ ignoreForm.logout(style="height:20px;margin:0;") }}
              </div>
              <div class="form-group" style="display: flex; justify-content: space-between; ">
                {{ ignoreForm.signup.label(style="width:150%") }}
                {{ ignoreForm.signup(style="height:20px;margin:0;") }}
              </div>
              {% endif %}
              <div class="form-group" style="display: flex; justify-content: space-between; ">
                {{ ignoreForm.reset.label(style="width:150%") }}
                {{ ignoreForm.reset(style="height:20px;margin:0;") }}
              </div>
            </div>

            <div style="display:inline-block;vertical-align:top;width:24%;">
              <h4>Requests</h4>
              {% if is_admin %}
              <div class="form-group" style="display: flex; justify-content: space-between; ">
                {{ ignoreForm.admin_req.label(style="width:150%") }}
                {{ ignoreForm.admin_req(style="height:20px;margin:0") }}
              </div>
              <div class="form-group" style="display: flex; justify-content: space-between; ">
                {{ ignoreForm.tree_req.label(style="width:150%") }}
                {{ ignoreForm.tree_req(style="height:20px;margin:0;") }}
              </div>
              {% endif %}
              <div class="form-group" style="display: flex; justify-content: space-between; ">
                {{ ignoreForm.req_accepted.label(style="width:150%") }}
                {{ ignoreForm.req_accepted(style="height:20px;margin:0;") }}
              </div>
            </div>

            <div style="display:inline-block;vertical-align:top;width:24%;">
              <h4>Biographies</h4>
              <div class="form-group" style="display: flex; justify-content: space-between; ">
                {{ ignoreForm.comment.label(style="width:150%") }}
                {{ ignoreForm.comment(style="height:20px;margin:0") }}
              </div>
              <div class="form-group" style="display: flex; justify-content: space-between; ">
                {{ ignoreForm.bio_edit.label(style="width:150%") }}
                {{ ignoreForm.bio_edit(style="height:20px;margin:0;") }}
              </div>
            </div>

            <div style="display:inline-block;vertical-align:top;width:24%">
              <h4>Trees</h4>
              {% if is_admin %}
              <div class="form-group" style="display: flex; justify-content: space-between; ">
                {{ ignoreForm.new_tree.label(style="width:150%") }}
                {{ ignoreForm.new_tree(style="height:20px;margin:0") }}
              </div>
              {% endif %}
              <div class="form-group" style="display: flex; justify-content: space-between; ">
                {{ ignoreForm.tree_create.label(style="width:150%") }}
                {{ ignoreForm.tree_create(style="height:20px;margin:0") }}
              </div>
              <div class="form-group" style="display: flex; justify-content: space-between; ">
                {{ ignoreForm.tree_move.label(style="width:150%") }}
                {{ ignoreForm.tree_move(style="height:20px;margin:0;") }}
              </div>
              <div class="form-group" style="display: flex; justify-content: space-between; ">
                {{ ignoreForm.tree_update.label(style="width:150%") }}
                {{ ignoreForm.tree_update(style="height:20px;margin:0;") }}
              </div>
              <div class="form-group" style="display: flex; justify-content: space-between; ">
                {{ ignoreForm.tree_delete.label(style="width:150%") }}
                {{ ignoreForm.tree_delete(style="height:20px;margin:0;") }}
              </div>
            </div>
            <p></p>
            {{ ignoreForm.submit(class="btn btn-primary") }}
            {% if ignore_info != None %}
            <p style="color:blue">{{ ignore_info }}</p>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  //scripts to set the defaults on all the forms

  often = "{{ often }}"
  document.getElementById("preference").value = often;

  preferences = "{{ preferences }}"
  if (preferences.includes(" Login")) {
      document.getElementById("login").checked = true;
  }
  if (preferences.includes(" Logout")) {
      document.getElementById("logout").checked = true;
  }
  if (preferences.includes(" Reset")) {
      document.getElementById("reset").checked = true;
  }
  if (preferences.includes(" Signup")) {
      document.getElementById("signup").checked = true;
  }

  if (preferences.includes(" Admin Req")) {
      document.getElementById("admin_req").checked = true;
  }
  if (preferences.includes(" Tree Req")) {
      document.getElementById("tree_req").checked = true;
  }
  if (preferences.includes(" Request")) {
      document.getElementById("req_accepted").checked = true;
  }

  if (preferences.includes(" Comment")) {
      document.getElementById("comment").checked = true;
  }
  if (preferences.includes(" Bio Edit")) {
      document.getElementById("bio_edit").checked = true;
  }

  if (preferences.includes(" New Tree")) {
      document.getElementById("new_tree").checked = true;
  }
  if (preferences.includes(" Tree Create")) {
      document.getElementById("tree_create").checked = true;
  }
  if (preferences.includes(" Tree Move")) {
      document.getElementById("tree_move").checked = true;
  }
  if (preferences.includes(" Tree Update")) {
      document.getElementById("tree_update").checked = true;
  }
  if (preferences.includes(" Tree Delete")) {
      document.getElementById("tree_delete").checked = true;
  }
</script>
{% endblock %}
