<style>
    .notif_box {
        border-color: gray; 
        border-bottom-width: 2px;
        border-bottom-style: solid;
    }

    .notif_timestamp {
        color: gray; 
        margin: 0px;
    }

    .seen_button {
        padding: 0;
        padding-right: 5px;
    }

    .notif_text {
        margin-bottom: 5px
    }
    
</style>

<div class="notif_box" id="notif_{{ notif.id }}">
    <div style="justify-content:space-between; display:flex;" onclick="redirect()">
        <p class="notif_timestamp">{{ notif.time.strftime("%m/%d/%Y, %H:%M") }}</p>
        <button class="seen_button btn btn-default" onclick="seen({{ notif.id }})">X</button>
    </div>
    <p class="notif_text">{{ notif.text }}</p>
</div>

<script>
    function seen(id) {
        $.post("/mark_as_seen/" + id, function(){}) //remove from db
        document.getElementById("notif_" + id).remove(); //remove from page
        document.getElementById("notif_count").innerText -= 1; //decrease count

        if (document.getElementById("notif_count").innerText == 0) { //if count hits 0
            document.getElementById("notif_count").remove(); //remove count
            document.getElementById("notif_bell").classList.remove("bi-bell-full"); //change to white empty bell
            document.getElementById("notif_bell").classList.add("bi-bell"); 
            document.getElementById("notif_bell").style.color = "var(--bs-navbar-hover-color)";
        }
    }

    function redirect() {

    }
</script>