{% extends "base.html" %}

{% block headBlock %}
    <!--Shares css page with login-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}"/>
    <title>Signup Page</title>
{% endblock %}

{% block bodyBlock %}

<div class="d-md-flex flex-md-row container">
    <div class="box-grey flex-grow-1" style="padding-left:25%; padding-right:25%; padding-top:10%; padding-bottom:10%;" id="signup">    
        <h2 class="text-center">Sign Up</h2>

        <form action="/signup-form" method="post" class="container px-4">
            <div class="form-group" style="width: 100%">
                {{ signupForm.email.label }}<br>
                {{ signupForm.email(class="form-control", placeholder="Enter Email") }} <br>
            </div>
            <div class="form-group" style="width: 100%">
                {{ signupForm.username.label }}<br>
                {{ signupForm.username(class="form-control", placeholder="Enter Username") }} <br>
            </div>
            <div class="form-group" style="width: 100%">
                {{ signupForm.password.label }}<br>
                {{ signupForm.password(class="form-control", placeholder="Enter Password") }} <br>
            </div>
            <div class="form-group" style="width: 100%">
                {{ signupForm.repeat.label }}<br>
                {{ signupForm.repeat(class="form-control", placeholder="Confirm Password") }} <br>
            </div>
            <div style="display: flex; justify-content: space-between">
            <p>{{ signupForm.remember_me() }} {{ signupForm.remember_me.label }}</p>
            <p>{{ signupForm.submit(class="btn btn-primary") }}</p>
            </div>
        </form>

        <div style="width: 100%; text-align: center"><a href="{{ url_for('main_bp.login_page') }}">Click here to login</a></div>
    </div>
</div>

{% endblock %}