{% extends "base.html" %}

{% block headBlock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}"/>
    <title>Unsubscribe</title>
{% endblock %}

{% block bodyBlock %}
<div class="d-md-flex flex-md-row container">
    <div class="box-grey flex-grow-1" style="padding-left:25%; padding-right:25%; padding-top:5%; padding-bottom:5%;">    
        <p>Successfully unsubscribed from all emails to <b>{{ email }}</b>.</p>
        <p>Please check the dashboard page for finer control over email preferences.</p>
    </div>
</div>
{% endblock %}